*{
    background-color: #222;
    color:#c05773;
}
.name{
    font-size: 5rem;
    font-weight: 700;
    font-family: Arial, Helvetica, sans-serif;
    filter: drop-shadow(10px 2px 4px red);
    color: yellow;
}